.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(213, 12%, 17%);
}
.title__container {
  max-width: 350px;
}
.title {
  color: aliceblue;
  text-align: center;
  font-size: 2em;
}
